<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <header>
    <h1>Karol Sabu - N01673626</h1>
  </header>

  <main id="content">
    {{{body}}}
  </main>

  <footer>

    <p>Email: n01673626@humber.ca</p>
        {{> footer}}
  </footer>
</body>
</html>
